.Goods {
	margin-top: 70px;

	.Content {
		text-align: center;
		color: #fff;

		.Title {
			.TitleText {
				font-size: 25pt;
			}
		}

		.GoodsBlock {
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(280px, 435px));
			justify-content: center;
			padding: 50px 20px;
			gap: 20px;
		}
	}
}
